* {
  width: 100%;
  align-items: center;
  position: relative;
}

.main-bg{
  left: 0px;
  top: 0px;
  z-index: -1;
  position: absolute;
}

,.container1{
  width: 100%;
  margin: auto;
  position: relative;
}