* {
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-bg {
  left: 0px;
  top: 0px;
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.container1 {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.Landing {
  height: 95%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
}

.nav-bar {
  position: fixed;
  z-index: 999;
  height: 5%;
  left: 0px;
  top: 0px;
}

.section1 {
  height: 80vh;
}

.container2{
  z-index: 0;
}