* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  min-height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

.Landing {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section1 {
  position: relative;
}

.nav-bar {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
}
.container2{
  z-index: 0;
}

.content-window{
  height: 100%;
  display: flex;
  flex-direction: row;
}