/* Global Font Definitions */
@font-face {
    font-family: 'Sohne';
    src: url('./fonts/TESTSÖHNEBREIT-LEICHT.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('./fonts/TestSöhneBreit-Dreiviertelfett.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Sohne', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sohne', sans-serif;
    font-weight: 700;
}

button, input, textarea, select {
    font-family: inherit;
}