

.title{
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;


}

.head{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-head{
    font-size: 8rem;
    font-weight: 900;
    color: #fffefe;
    text-align: center;
    vertical-align: middle;
    position: relative;
    mix-blend-mode: overlay;

}

.sub-head{
    font-size: 3rem;
    font-weight: 500;
    color: #fffefe;
    text-align: center;
}