.white {
    position: relative;
    border-radius: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    padding: 0.5rem;
    max-width: 8rem;

}