/* Navbar Styles */

.nav {
    width: 100%;
    padding: 45px 100px !important;
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 150%);
    z-index: 1000;
}

.nav-links {
    display: flex;
}

.nav {
    justify-content: space-between;
    position: fixed;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.nav-links li {
    width: auto;
    cursor: pointer;
}

.nav-links a {
    cursor: pointer;
}

.nav .login .login-button {
    color: #ffffff;
    text-decoration: none;
    font-style: test-bold;
    transition: all 0.2s linear;
    padding: 1rem 1.5rem;
    font-size: 1rem;
}

.nav .login .login-button:hover {
    color: #000000;
    background-color: #ffffff;
    border-radius: 100px;
    cursor: pointer;


}


.nav .logo {
    font-size: 22px;
    font-weight: 500;
    width: auto;
    text-decoration: none;
    color: #ffffff;
}

.nav-links {
    column-gap: 40px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav-links a:hover {
    color: #000000;

}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #ffffff;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}
.login{
    width: auto;
}

.tabs{
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }

    .nav .search-box {
        right: 150px;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }

    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 999;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #000000;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    a {
        color: #000000;
        text-decoration: none;
    }
}